This document contains the information related to the presentation about Python and Data Analytics.

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.1/61.1 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jorgevazt/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/jorgevazt/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 12.0 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.7/13.7 MB 13.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 10.6 MB/s eta 0:00:0000:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 16.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd 
books = pd.read_csv('/Users/jorgevazt/Documents/Pandas_Course/Top1000Booksdataset.csv')
books.head()

,Book Name,Author,Average Rating,Number of Ratings,Score on Goodreads
0,To Kill a Mockingbird,Harper Lee,4.26,6129090,17358.0
1,1984,George Orwell,4.19,4604557,15474.0
2,Pride and Prejudice,Jane Austen,4.29,4273146,15135.0
3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,10063128,12440.0
4,The Great Gatsby,F. Scott Fitzgerald,3.93,5244056,10828.0

<h1> Summarizing numerical data </h1>

<h3>.mean()</h3>
<h3>.median()</h3>
<h3>.mode()</h3>
<h3>.min()</h3>
<h3>.max()</h3>
<h3>.var()</h3>
<h3>.std()</h3>
<h3>.sum()</h3>
<h3>.quantile()</h3>

In [5]:
books['Average Rating'].mean()

3.867099311701082

In [6]:
books['Score on Goodreads'].max()

17358.0

In [2]:
books['Average Rating'].std()

0.25475737834337975

In [5]:
def pct30(column):
    return column.quantile(0.3)

books['Average Rating'].agg(pct30)

3.75

In [6]:
#CumSum

books['Number of Ratings'].cumsum()

0         6129090
1        10733647
2        15006793
3        25069921
4        30313977
          ...
1012    172374396
1013    172377647
1014    172387885
1015    172397501
1016    172401992
Name: Number of Ratings, Length: 1017, dtype: int64

In [9]:
books_ind = books.set_index("Book Name")
print(books_ind)

                                                                 Author  \
Book Name
To Kill a Mockingbird                                        Harper Lee
1984                                                      George Orwell
Pride and Prejudice                                         Jane Austen
Harry Potter and the Sorcerer's Stone (Harry Po...         J.K. Rowling
The Great Gatsby                                    F. Scott Fitzgerald
...                                                                 ...
The Old Men at the Zoo                                     Angus Wilson
The Case of the Gilded Fly (Gervase Fen, #1)             Edmund Crispin
The Swimming-Pool Library                             Alan Hollinghurst
A Dark-Adapted Eye                                         Barbara Vine
A Fatal Inversion                                          Barbara Vine

                                                    Average Rating  \
Book Name
To Kill a Mockingbird                                         4.26
1984                                                          4.19
Pride and Prejudice                                           4.29
Harry Potter and the Sorcerer's Stone (Harry Po...            4.47
The Great Gatsby                                              3.93
...                                                            ...
The Old Men at the Zoo                                        3.35
The Case of the Gilded Fly (Gervase Fen, #1)                  3.52
The Swimming-Pool Library                                     3.73
A Dark-Adapted Eye                                            3.93
A Fatal Inversion                                             3.94

                                                    Number of Ratings  \
Book Name
To Kill a Mockingbird                                         6129090
1984                                                          4604557
Pride and Prejudice                                           4273146
Harry Potter and the Sorcerer's Stone (Harry Po...           10063128
The Great Gatsby                                              5244056
...                                                               ...
The Old Men at the Zoo                                            126
The Case of the Gilded Fly (Gervase Fen, #1)                     3251
The Swimming-Pool Library                                       10238
A Dark-Adapted Eye                                               9616
A Fatal Inversion                                                4491

                                                    Score on Goodreads
Book Name
To Kill a Mockingbird                                          17358.0
1984                                                           15474.0
Pride and Prejudice                                            15135.0
Harry Potter and the Sorcerer's Stone (Harry Po...             12440.0
The Great Gatsby                                               10828.0
...                                                                ...
The Old Men at the Zoo                                             3.0
The Case of the Gilded Fly (Gervase Fen, #1)                       3.0
The Swimming-Pool Library                                          3.0
A Dark-Adapted Eye                                                 2.0
A Fatal Inversion                                                  1.0

[1017 rows x 4 columns]

In [11]:
books_ind_autor = books.set_index("Author")
print(books_ind_autor)

                                                             Book Name  \
Author
Harper Lee                                       To Kill a Mockingbird
George Orwell                                                     1984
Jane Austen                                        Pride and Prejudice
J.K. Rowling         Harry Potter and the Sorcerer's Stone (Harry P...
F. Scott Fitzgerald                                   The Great Gatsby
...                                                                ...
Angus Wilson                                    The Old Men at the Zoo
Edmund Crispin            The Case of the Gilded Fly (Gervase Fen, #1)
Alan Hollinghurst                            The Swimming-Pool Library
Barbara Vine                                        A Dark-Adapted Eye
Barbara Vine                                         A Fatal Inversion

                     Average Rating  Number of Ratings  Score on Goodreads
Author
Harper Lee                     4.26            6129090             17358.0
George Orwell                  4.19            4604557             15474.0
Jane Austen                    4.29            4273146             15135.0
J.K. Rowling                   4.47           10063128             12440.0
F. Scott Fitzgerald            3.93            5244056             10828.0
...                             ...                ...                 ...
Angus Wilson                   3.35                126                 3.0
Edmund Crispin                 3.52               3251                 3.0
Alan Hollinghurst              3.73              10238                 3.0
Barbara Vine                   3.93               9616                 2.0
Barbara Vine                   3.94               4491                 1.0

[1017 rows x 4 columns]

In [12]:
books[books["Author"].isin(["Jane Austen", "Barbara Vine"])]

,Book Name,Author,Average Rating,Number of Ratings,Score on Goodreads
2,Pride and Prejudice,Jane Austen,4.29,4273146,15135.0
32,Sense and Sensibility,Jane Austen,4.08,1190719,4828.0
47,Emma,Jane Austen,4.05,887050,3680.0
85,Persuasion,Jane Austen,4.15,702858,1909.0
225,Northanger Abbey,Jane Austen,3.85,401445,565.0
235,Mansfield Park,Jane Austen,3.86,349910,526.0
584,King Solomon's Carpet,Barbara Vine,3.73,1987,100.0
1015,A Dark-Adapted Eye,Barbara Vine,3.93,9616,2.0
1016,A Fatal Inversion,Barbara Vine,3.94,4491,1.0

In [21]:
from datetime import datetime
birthday = datetime(1990,3,6,2,30)
birthday.year

1990

In [26]:
datetime.now()

datetime.datetime(2024, 5, 12, 12, 40, 59, 881126)

In [38]:
parsed_date = datetime.strptime('Jan 15,2018', '%b %d,%Y')
parsed_date.year

2018