This document contains the information related to the presentation about Python and Data Analytics.

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.1/61.1 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jorgevazt/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/jorgevazt/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 12.0 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.7/13.7 MB 13.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 10.6 MB/s eta 0:00:0000:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 16.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd 
books = pd.read_csv('/Users/jorgevazt/Documents/Pandas_Course/Top1000Booksdataset.csv')
books.head()

,Book Name,Author,Average Rating,Number of Ratings,Score on Goodreads
0,To Kill a Mockingbird,Harper Lee,4.26,6129090,17358.0
1,1984,George Orwell,4.19,4604557,15474.0
2,Pride and Prejudice,Jane Austen,4.29,4273146,15135.0
3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,10063128,12440.0
4,The Great Gatsby,F. Scott Fitzgerald,3.93,5244056,10828.0

<h1> Summarizing numerical data </h1>

<h3>.mean()</h3>
<h3>.median()</h3>
<h3>.mode()</h3>
<h3>.min()</h3>
<h3>.max()</h3>
<h3>.var()</h3>
<h3>.std()</h3>
<h3>.sum()</h3>
<h3>.quantile()</h3>

In [5]:
books['Average Rating'].mean()

3.867099311701082

In [6]:
books['Score on Goodreads'].max()

17358.0